<div class="query">
  <h3>Filter Results</h3>
  <div id="city">
    <div class="queryLabel">City</div>
    <!-- Select option for 5 cities -->
    <select name="city" id="citySelect" class="querySelector" [(ngModel)] ="citySelect" (change)="msgToVehicle()">
      <option value="All">All</option>
      <option value="Islamabad">Islamabad</option>
      <option value="Karachi">Karachi</option>
      <option value="Faisalabad">Faisalabad</option>
      <option value="Multan">Multan</option>
      <option value="Lahore">Lahore</option>
    </select>
  </div>
  <div class="make">
    <div class="queryLabel">Make</div>
    <!-- Select option for 5 makes -->
    <select name="make" id="makeSelect" class="querySelector" [(ngModel)] ="makeSelect" (change)="msgToVehicle()">
      <option value="All">All</option>
      <option value="Mercedes-Benz">Mercedes-Benz</option>
      <option value="BMW">BMW</option>
      <option value="Audi">Audi</option>
      <option value="Ford">Ford</option>
      <option value="Chevrolet">Chevrolet</option>
      <option value="Honda">Honda</option>
      <option value="Toyota">Toyota</option>
      <option value="Nissan">Nissan</option>
    </select>
  </div>
  <div class="priceRange">
    <div class="queryLabel">Price Range</div>
    <!-- Two boxes with lower and upper limit of price -->
    <input type="text" id="lowerPrice" class="queryInput" placeholder="Lower Limit" [(ngModel)] = "lowerPrice" (input)="msgToVehicle()">
    <input type="text" id="upperPrice" class="queryInput" placeholder="Upper Limit" [(ngModel)] = "upperPrice" (input)="msgToVehicle()">
  </div>
  <div class="year">
    <div class="queryLabel">Year</div>
    <!-- select option for years -->
    <select name="year" id="yearSelect" class="querySelector" [(ngModel)] = "yearSelect" (change)="msgToVehicle()">
      <option value="All">All</option>
      <option value="2019">2019</option>
      <option value="2018">2018</option>
      <option value="2017">2017</option>
      <option value="2016">2016</option>
      <option value="2015">2015</option>
      <option value="2014">2014</option>
    </select>
  </div>
  <div class="mileageRange">
    <div class="queryLabel">Mileage Range</div>
    <!-- Two boxes with lower and upper limit of mileage -->
    <input type="text" id="lowerMileage" class="queryInput" placeholder="Lower Limit" [(ngModel)] = "lowerMileage" (input)="msgToVehicle()">
    <input type="text" id="upperMileage" class="queryInput" placeholder="Upper Limit" [(ngModel)] = "upperMileage" (input)="msgToVehicle()">
  </div>
  <div class="color">
    <div class="queryLabel">Color</div>
    <!-- Select option for 5 colors -->
    <select name="color" id="colorSelect" class="querySelector" [(ngModel)] = "colorSelect" (change)="msgToVehicle()">
      <option value="All">All</option>
      <option value="Black">Black</option>
      <option value="White">White</option>
      <option value="Silver">Silver</option>
      <option value="Red">Red</option>
      <option value="Blue">Blue</option>
      <option value="Green">Green</option>
    </select>
  </div>
  <div class="engine">
    <div class="queryLabel">Engine</div>
    <!-- Select option for 5 engines -->
    <select name="engine" id="engineSelect" class="querySelector" [(ngModel)] = "engineSelect" (change)="msgToVehicle()">
      <option value="All">All</option>
      <option value="V8">V8</option>
    </select>
  </div>
  <div class="type">
    <div class="queryLabel">Type</div>
    <!-- Select option for 2 types -->
    <select name="type" id="typeSelect" class="querySelector" [(ngModel)] = "typeSelect" (change)="msgToVehicle()">
      <option value="All">All</option>
      <option value="Car">Car</option>
      <option value="Bike">Bike</option>
    </select>
  </div>
  <div class="rating">
    <div class="queryLabel">Rating</div>
    <!-- Select option for 5 ratings -->
    <select name="rating" id="ratingSelect" class="querySelector" [(ngModel)] = "ratingSelect" (change)="msgToVehicle()">
      <option value="All">All</option>
      <option value="5">5</option>
      <option value="4">4</option>
      <option value="3">3</option>
      <option value="2">2</option>
      <option value="1">1</option>
    </select>
  </div>
</div>
