<div class="query">
  <h3>Filter Results</h3>
  <div id="city">
    <div class="queryLabel">City</div>
    <!-- Select option for 5 cities -->
    <select name="city" id="citySelect" class="querySelector">
      <option value="All">All</option>
      <option value="Islamabad">Islamabad</option>
      <option value="Karachi">Karachi</option>
      <option value="Faisalabad">Faisalabad</option>
      <option value="Multan">Multan</option>
      <option value="Lahore">Lahore</option>
    </select>
  </div>
  <div class="make">
    <div class="queryLabel">Make</div>
    <!-- Select option for 5 makes -->
    <select name="make" id="makeSelect" class="querySelector">
      <option value="All">All</option>
      <option value="Mercedes-Benz">Mercedes-Benz</option>
      <option value="BMW">BMW</option>
      <option value="Audi">Audi</option>
      <option value="Ford">Ford</option>
      <option value="Chevrolet">Chevrolet</option>
      <option value="Honda">Honda</option>
      <option value="Toyota">Toyota</option>
      <option value="Nissan">Nissan</option>
    </select>
  </div>
</div>
